
*{margin: 0; padding: 0;}

body{
font-family: arial, helvetica, sans-serif;
font-size: 12px;
}

.navbar{
list-style:none;
border:1px solid #c0c0c0;
float:left;
}

.navbar div{
    position:relative;
    float:left;
    border-right:1px solid #c0c0c0;
    }