

.um {
         color: rgb(128, 31, 31);
         background-color: rgb(36, 18, 116);
         border: none;
         height: 20px;
         padding: 5px;
         text-transform: uppercase;
         font-weight: bold;
         cursor: pointer;
     }

.dois{
         color: rgb(128, 31, 31);
         background-color: rgb(36, 18, 116);
         border: none;
         height: 20px;
         padding: 5px;
         text-transform: uppercase;
         font-weight: bold;
        cursor: pointer;
        
     }


.tres{
         color: rgb(128, 31, 31);
         background-color: rgb(36, 18, 116);
         border: none;
         height: 20px;
         padding: 5px;
         text-transform: uppercase;
         font-weight: bold;
         cursor: pointer;  
     
     }