{% extends "base_2.html" %}
{% block content %}
<p>
# Falta acrescentar imagem
<img src="imagens/" align="right" height="150" width="150">
<button align="right">Teste grátis</button>
div class="column is-4 is-offset-4">
    <h3 class="title"><u>Dúvidas Frequentes</u></h3>
    <div class="box">
        <form method="POST" action="/Cadastre-se">
        
            <div>
                <button align= center href="#!" class= "seis">Qual a mensalidade?</button>
                <button align= center href="#!" class ="sete">R$xxxxx</button>
                <button align= center href="#!" class ="oito">Qual a mensalidade?</button>
                <button align= center href="#!" class ="nove">R$xxxxx</button>
                <button align= center href="#!" class ="dez">Qual a mensalidade?</button>
                <button align= center href="#!" class ="onze">R$xxxxx</button>
                </div>  


    </div>