{% extends "base.html" %}

<h1><u> Teste nossa plataforma por 7 dias sem pagar nada</u></h1>

    <form class="formulario" method="post"> 
        <p> Preencha as informações abaixo para obter o seu teste grátis</p>
        
        <div class="field">
            <label for="nome">E-mail:</label>
            <input type="text" id="email" name="email" placeholder="Digite seu E-mail" required>
        </div>
        
        <div class="field">
            <label for="telefone">Whatsapp</label>
            <input type="text" id="telefone" name="telefone" placeholder="(xx) 00000-0000">
        </div>

        <button class="button is-block is-info is-large is-fullwidth">Quero testar grátis</button>
    </form>
