<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Menu Click</title>
    <img src="static/imagens/logo.png" alt="CLICK" width=100%>
    <link rel="stylesheet" href="static/css/style.css" />
    <link rel="stylesheet" href="static/button.css" />
</head>

<body>
    <section class="hero is-primary is-fullheight">

        <div class="hero-head">
            <nav class="navbar">
                <div class="container">

                    <div id="navbarMenuHeroA" class="navbar-menu" style="float:left; width:50%">
                        <div class="navbar-end" style="float:center; width:70%;list-style:none;border:1px solid #c0c0c0;">
                             <a href="{{ url_for('main.index') }}" class="navbar-item" >
                                &nbspHome&nbsp&nbsp&nbsp
                            </a>

                            <a href="{{ url_for('main.teste_gratis') }}" class="navbar-item"  >
                                  Teste grátis&nbsp&nbsp&nbsp
                            </a>
                            
                            <a href="{{ url_for('main.cases_sucesso') }}" class="navbar-item" >
                                  Cases de Sucesso&nbsp&nbsp&nbsp
                            </a>

                            <a href="{{ url_for('main.duvidas_frequentes') }}" class="navbar-item" >
                                   Dúvidas Frequentes&nbsp&nbsp&nbsp
                            </a>

                            <a href="{{ url_for('main.Suporte') }}" class="navbar-item" >
                                   Suporte&nbsp&nbsp&nbsp
                            </a>

                            <a href="{{ url_for('auth.signup') }}" class="navbar-item" >
                                    Sign Up
                            </a>

                        </div>
                    </div>
                    <div class="navbar-menu" style="float:left; width:50%"> 
                        <div style="float:left; width:33%">
                            <label  > Login : <input type="email" name="Login"  placeholder="user@domain.com"></label>
                        </div>
                        <div style="float:left; width:33%" >
                            <label > Senha: <input type="password" name="senha"  placeholder="Sua Senha"></label>
                        </div style="float:left; width:33%">
                         <a><button class="button  sign-in">Entrar</button></a>
                    </div>
                </div>
            </nav>
        </div>
        
        <div class="hero-body">
            <div class="container has-text-centered">
               {% block content %}
               {% endblock %}
            </div>
        </div>
    </section>
    <footer>
        
            <ul>
             <label class="white-text" ><font size="3" face="Times">Nossas Redes Sociais:</font>   
             <a><img href="#!" src="static/imagens/facebook.png" width="50" height="50"></a>
             <a><img href="#!" src="static/imagens/twitter.png" width="50" height="50"></a>
             <a><img href="#!" src="static/imagens/instagram.png" width="50" height="50"></a>
             <a><img href="#!" src="static/imagens/youtube.png" width="50" height="50"></a>
             </label>
            </ul>
        
    </footer>
</body>

</html>