<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cadastro</title>
</head>
<body>
    <div>
        <h1>Click</h1>
        <form method="post" action="autentica">
        <a href="home"> Home </a>
        <a href="teste_gratis"> Teste grátis </a>
        <a href="cases_sucesso"> Cases de Sucesso </a>
        <a href="duvidas_frequentes"> Dúvidas Frequentes </a>
        <a href="suporte"> Suporte </a>

        <label for="email">E-mail</label>
        <input type="text" id="email" name="usuario" placeholder="Digite seu e-mail">

        <label for="senha">Senha</label>
        <input type="password" id="senha" name="senha" placeholder="Digite sua senha">

        <input type="submit" name="enviar" value="Autenticar"><input type="reset" name="reset">
        </form>
    </div>

    <h2>Vamos ajudar você a expandir o seu negócio físico e vender na internet</h2>
    <h2>Cadastre-se</h2>
    <p>A CLIK é para você que já tem um negócio físico e quer vender na internet também</p>

    <div>
        <form method="post" action="cadastraCli">

        <div>
            <label for="nome">Nome completo</label>
            <input type="text" id="nome" name="nome" placeholder="Seu nome">
        </div>

        <div>
            <label for="email_c">E-mail</label>
            <input type="text" id="email_c" name="email_c" placeholder="E-mail">
        </div>

        <div>
            <label for="numero"> Número de celular</label>
            <input type="text" id="numero" name="numero" placeholder="(xx)00000-0000">
        </div>

        <div>
            <label for="data_de_nascimento"> Data de nascimento</label>
            <input type="text" id="data_de_nascimento" name="data_de_nascimento" placeholder="01/01/1990">
        </div>

        <div>
            <label for="senha_c"> Senha</label>
            <input type="password" id="senha_c" name="senha_c" placeholder="Senha">
        </div>

        <input type="submit" name="enviar" value="Quero ser um aluno">
        </form>
    </div>
</body>
</html>