<!doctype html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>CLICK</title>
</head>
<body bgcolor="gray">

    <div align="center">
        <font color= "white">
            <h1> Bem-vindo a Click!</h1>
        </font>
        


    </div>

    <div align="left">

        <font color="white">
            <a href="index.html"> Home</a> &nbsp;&nbsp;
            <a href="testegratis.html"> Teste Grátis</a> &nbsp;&nbsp;
            <a href="cases.html"> Cases de sucesso</a> &nbsp;&nbsp;
            <a href="duvidas.html"> Dúvidas</a> &nbsp;&nbsp;
            <a href="suporte.html"> Suporte</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

            <label for="email">E-mail: </label>
            <input type="email" id="email" name="email">

            <label for="senhaUsuario">Senha: </label>
            <input id="senhaUsuario" type="password" required>
            <input type="submit" value="Entrar">    
            </font>

    </div>

    <br><br><br>
    <div align="center">
        <font color= "white">
            <h2> Pagamento com cartão de crédito</h2>
        </font>
        

        <div align="center">
            <img src="img/cartao.jpg" width="500" height="300"> <br>

        </div>

        <br><br><br>

        <div align="center">
            <font color= "white">
                <h3>INFORME OS DADOS DO SEU CARTÃO:</h3>
            </font>
            
    
            <form action="/action_page.php">
                <fieldset>
                  <legend>Digite seus dados:</legend>
                  <label for="fname">NOME DO TITULAR:</label><br>
                  <input type="text" id="fname" name="fname" value=""><br>
                  <label for="lname">NÚMERO DO CARTÃO:</label><br>
                  <input type="text" id="lname" name="lname" value=""><br><br>

                  <label for="lname">INFORME A VALIDADE:</label><br>

                  <input id="date" type="date"> <BR><BR>


                  <label for="lname">DIGITE O CVV:</label><br>
                  <input type="text" id="lname" name="lname" value=""><br><br>
    
                  
                  
                  <input type="submit" value="CONFIRMAR PAGAMENTO">
                  
                </fieldset>
              </form>
    
    
        </div>