{% extends "base.html" %} 
{% block content %}
<p>
# falta acrescentar imagem 
<img src="imagens/" align="right" height="150" width="150">
<button align="right"></button>
div class="column is-4 is-offset-4">
    <h3 class="title"><u>Dúvidas Frequentes</u></h3>
    <div class="box">
        <form method="POST" action="/Cadastre-se">
        
            <div>
                <button align= cent href="#!" class= "seis">Qual a mensalidade?</button>
                <button align= centera href="#!" class ="sete">R$xxxxx</button>
                <button align= cent href="#!" class ="oito">Qual a mensalidade?</button>
                <button align= centera href="#!" class ="nove">R$xxxxx</button>
                <button align= center href="#!" class ="dez">Qual a mensalidade?</button>
                <button align= center href="#!" class ="onze">R$xxxxx</button>
                </div>  

    </div>