<!doctype html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>CLICK</title>
</head>
<body bgcolor="gray">

    <div align="center">
        <font color= "white">
            <h1> Bem-vindo a Click!</h1>
        </font>
        


    </div>

    <div align="left">

        <font color="white">
            <a href="index"> Home</a> &nbsp;&nbsp;
            <a href="testegratis"> Teste Grátis</a> &nbsp;&nbsp;
            <a href="cases"> Cases de sucesso</a> &nbsp;&nbsp;
            <a href="duvidas"> Dúvidas</a> &nbsp;&nbsp;
            <a href="suporte"> Suporte</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

            <label for="email">E-mail: </label>
            <input type="email" id="email" name="email">

            <label for="senhaUsuario">Senha: </label>
            <input id="senhaUsuario" type="password" required>
            <input type="submit" value="Entrar"> &nbsp;&nbsp;
            <a href="aulas.html"> AULAS</a>

            </font>

    </div>


    <br>
    <br>


    <div align="center">
        <font color= "white">
            <h1> Aprenda Marketing com apenas um Click!</h1>
        </font>
        


    </div>

    <div>
        <img align="left" src="static/img/left.jpg" width="500" height="300">
    



        <img align="right" src="static/img/right.jpg" width="500" height="300">
    </div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br><br><br><br><br><br><br><br><br><br>
    
        <div align="left">
            <a href="lojafisica"> <button>Tenho uma loja física</button></a>
        </div>
        <div align="right">
            <a href="lojadigital"> <button>Tenho uma loja digital</button></a>
        </div>
    
    
    
    
</body>
</html>