<!doctype html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>CLICK</title>
</head>
<body bgcolor="gray">

    <div align="center">
        <font color= "white">
            <h1> Bem-vindo a Click!</h1>
        </font>
        


    </div>

    <div align="left">

        <font color="white">
            <a href="index"> Home</a> &nbsp;&nbsp;
            <a href="testegratis"> Teste Grátis</a> &nbsp;&nbsp;
            <a href="cases"> Cases de sucesso</a> &nbsp;&nbsp;
            <a href="duvidas"> Dúvidas</a> &nbsp;&nbsp;
            <a href="suporte"> Suporte</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

            <label for="email">E-mail: </label>
            <input type="email" id="email" name="email">

            <label for="senhaUsuario">Senha: </label>
            <input id="senhaUsuario" type="password" required>
            <input type="submit" value="Entrar">    
            </font>

    </div>

    <br><br><br>
    <div align="center">
        <font color= "white">
            <h2> Escolha uma forma de pagamento</h2>
        </font>
        

        <div align="center">
            <img src="img/cartao.jpg" width="500" height="300"> <br>
            <a href="cartao.html"> Quero pagar com o CARTÃO</a> &nbsp;&nbsp;

        </div>

        <br><br><br>

        <div align="center">
            <img src="img/pix.jpg" width="500" height="300"> <br>
            <a href="pix.html"> Quero pagar com o PIX</a> &nbsp;&nbsp;

        </div>

        <br><br><br>

        <div align="center">
            <img src="img/boleto.jpg" width="500" height="300"> <br>
            <a href="boleto.html"> Quero pagar no BOLETO</a> &nbsp;&nbsp;

        </div>


    </div>
        