{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Cadastre-se</h3>
    <div class="box">
        <form method="POST" action="/Cadastre-se">

            <P>Nome Completo</P>
            <div class="field">
                <label for="nome">Nome:</label>
                <div class="control">
                    <input class="input is-large" type="text" name="name" placeholder="Seu name" autofocus="">
                </div>
            </div>



            
            <div class="field">
                <label for="nome">E-mail:</label>
                <div class="control">
                    <input class="input is-large" type="email" name="email" placeholder="E-mail" autofocus="">
                </div>
            </div>


            
            <div class="field">
                <label for="nome">Número do celular:</label>
                <div class="control">
                    <input class="input is-large" type="text" name="numero" placeholder="(xx) 00000 - 0000" autofocus="">
                </div>
            </div>

            
            <div class="field">
                <label for="nome">Data de Nascimento:</label>
                <div class="control">
                    <input class="input is-large" type="text" name="data_de_nascimento" placeholder="01/01/1990" autofocus="">
                </div>
            </div>
            

            <p>Senha</p>
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="password" name="password" placeholder="Sua Senha">
                </div>
            </div>

            <p>Anexo de Foto</p>
            <div class="col-sm-6">
                <form action = "/uploader" method = "POST" enctype = "multipart/form-data">
                <input type = "file" name = "file" />
                <input type = "submit"/>
                </form>
            </div>

            

            <button class="button is-block is-info is-large is-fullwidth">Quero ser um Aluno</button>
        </form>
    </div>
</div>
{% endblock %}