<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Teste grátis</title>
</head>
<body>
    <div>
        <h1>Click</h1>
        <form method="post" action="autentica">
        <a href="home"> Home </a>
        <a href="teste_gratis"> Teste grátis </a>
        <a href="cases_sucesso"> Cases de Sucesso </a>
        <a href="duvidas_frequentes"> Dúvidas Frequentes </a>
        <a href="suporte"> Suporte </a>

        <label for="email">E-mail</label>
        <input type="text" id="email" name="usuario" placeholder="Digite seu e-mail">
        <label for="senha">Senha</label>
        <input type="password" id="senha" name="senha" placeholder="Digite sua senha">
        <input type="submit" name="enviar" value="Autenticar"><input type="reset" name="reset">
        </form>
    </div>

    <div>
        <form method="post" action="cadastraTeste">
        <div>
            <label for="email_c">E-mail</label>
            <input type="text" id="email_c" name="email_c" placeholder="Digite seu e-mail">
        </div>
        <div>
            <label for="numero"> Whatsapp</label>
            <input type="password" id="numero" name="numero" placeholder="Digite sua número">
        </div>
        <input type="submit" name="enviar" value="Quero testar grátis">
        </form>
    </div>

</body>